<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="word.length">
    {{word}}
  </div>
  <button ion-button (click)="startRecognition()">
      Start
  </button>
  <button ion-button showWhen="ios" (click)="stopRecognition()">
    Stop
  </button>
</ion-content>
